.container{
    width: 100%;
    height: 100vh;
    display: flex;
    border:solid green;
    
    justify-content: center;
    align-items: center;
}
.item{
    border:2px solid black;
    margin: 10px 10px;
    height: 70px;
    width: 50px;
    text-align: center;
    align-content: center;
}